.customers
	&__list
		flex flex
		padding 35px 20px 20px 43px
		margin 0 auto
		li
			&:last-child
				&:after
					display none
	&__item
		flex inline-flex
		padding-right 46px
		min-width 209px
		min-height 90px
		img
			opacity 0.2
		&:after
			content ""
			margin-left 49px
			width 2px
			height 52px
			background-color #eeeeee