.offers
	display flex
	margin-top 80px
	margin-bottom 80px
	&__list
		display inline-flex
		justify-content center
		align-items center
		flex-wrap wrap
		padding: 0 10px
		margin: 0 auto
		box-sizing border-box
	&__items
		width: 300px;
		padding-right: 100px;
	&__img
		width 100%
	h3
		color #000
		font-family Roboto
		font-size 24px
		font-weight bold
		line-height 30px
		text-transform uppercase
	p
		padding-bottom 12px
		color #283136
		font-family Roboto
		font-size baseFontSize
		font-weight regular
		line-height 24px

	a
		display flex
		border-radius 3px
		justify-content center
		align-items center
		color #fff
		font-weight medium
		line-height 18px
		width 160px
		height 50px
		text-transform uppercase
a.offers__button--red
	background-color red
a.offers__button--green
	background-color green
a.offers__button--yellow
	background-color yellow
