.main-header
	display flex
	padding-top 49px
	background-color #eeeeee
	&__wrapper
		display inline-flex
		align-items center
		justify-content center
		padding: 0 10px
		margin: 0 auto
		box-sizing border-box