.studio
	&__table
		width 343px
		th
			color black
			font-size 45px
			font-weight bold
			line-height 10.06px
			padding-bottom 30px
			span
				font-weight regular
				font-size 25px
				line-height 25px
				vertical-align bottom
				color black
		td
			color black
			font-size baseFontSize
			font-weight regular
			line-height 18px
			padding-right 25px
	&__wrapper
		width 1200px
		display flex
		text-align left
		justify-content center
		padding 0 10px
		margin 0 auto
		margin-top 10px
		&__studio
			display inline-flex
			flex-direction column
			margin-right 149px
	&__list-title
		padding-bottom 10px
	&__title
		color black
		font-size 45px
		font-weight medium
		line-height 45px
		&--right
			color black
			font-weight bold
			line-height 24px
			text-transform uppercase
			margin-bottom 49px
	&__description
		color black
		font-weight regular
		line-height 24px
		padding-bottom 15px
	&__list-title
		color black
		line-height 24px
		text-transform uppercase
	&__item
		padding-bottom 35px
		&:before
			content url("")
			display inline-flex
			align-items center
			width 25px
			height 2px
			background-color red
			margin: 0 11px 4px -37px
		&--right
			color black
			font-weight regular
			line-height 18px
	&__logo
		margin-bottom 33px
.container
	flex flex
	flex-direction column