section.filters
	h2.visually-hidden Фильтр товаров
	form.filter(method='get' action='/echo.htmlacademy.ru')
		fieldset
			legend.filter__title Производители:
			ul
				li.filter__option
					input.visually-hiden.filter__option.filter__input--chekbox(type='checkbox' name='Baxter of California' checked)
					| Baxter of California
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox(type='checkbox' name='Mr Natty')
					| Mr Natty
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox(type='checkbox' name='Suavecito' checked)
					| Suavecito
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox(type='checkbox' name='Malin+Goetz')
					| Malin+Goetz
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox(type='checkbox' name='Murray’s')
					| Murray’s
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox(type='checkbox' name='American Crew' checked)
					| American Crew
		fieldset
			legend.filter__title ГРУППЫ ТОВАРОВ:
				ul
					li.filter-option
						input.visually-hiden.filter__option.filter__input--radio(type='radio' name='product-group' value='shaving')
						| Бритвенные принадлежности
					li.filter-option
						input.visually-hiden.filter__option.filter__input--radio(type='radio' name='product-group' value='hair-care' checked)
						| Средства для ухода
					li.filter-option
						input.visually-hiden.filter__option.filter__input--radio(type='radio' name='product-group' value='accessories')
						| Аксессуары
			input.button.filter__button#button(type='submit' name='button' value='ПОКАЗАТЬ')