footer.page-footer
	section.footer__contacts
		.footer__wrapper
			.footer__container
				p.footer__addresses БАРБЕРШОП «БОРОДИНСКИЙ»
				br
				| АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ, Д. 19/8
				br
				| КАК НАС НАЙТИ?
				a.footer__phone(href='tel:+74956660266') ТЕЛЕФОН: +7 (495) 666-02-66
			.footer-container__social
				p.footer__title
				img.footer-social__icon--vk(src=require('../../assets/images/icons/vk.png'), width="27" alt="icon")
				img.footer-social__icon--facebook(src=require('../../assets/images/icons/facebook.png'), width='11' alt="icon")
				img.footer-social__icon--instagram(src=require('../../assets/images/icons/instagram.png'),width='20' alt="icon")
			.footer__copyright
				p.footer-copyright__title РАЗРАБОТАНО:
				a.footer-href__button(type='button', href='#') html academy

