footer.page-footer
	.page-footer__wrapper
		p.footer__addresses БАРБЕРШОП «БОРОДИНСКИЙ»
			br
			| АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ, Д. 19/8
			br
			a.footer__find(href='#') КАК НАС НАЙТИ?
			br
			a.footer__phone(href='tel:+74956660266') ТЕЛЕФОН: +7 (495) 666-02-66
		.footer__social
			b.footer__title ДАВАЙТЕ ДРУЖИТЬ!
			ul.footer__list
				li.footer__item
					a.footer__link(href='#') Вконтакте
				li.footer__item
					a.footer__link(href='#') Фейсбук
				li.footer__item
					a.footer__link(href='#') Интсраграм
		p.footer__copyright
			b РАЗРАБОТАНО:
			a.button.footer__button(type='button', href='#') html academy

