header.main-header
	.main-header__wrapper
		a.main-header__logo(href='index.html')
			include ../../assets/images/nerds-logo.svg
		nav.main-nav
			ul.main-nav__list
				li.main-nav__item
					a(href='#contacts') студия
				li.main-nav__item
					a(href='#') клиенты
				li.main-nav__item
					a(href='#') магазин
				li.main-nav__item
					a(href='#') контакты
			a.icon-basket(href='#') Корзина




