header.main-header
	.main-header__wrapper
		a.main-header__logo(href='index.html')
			img.logo(src=require('../../assets/images/index-logo.png'), width="371" alt="logo")
		nav.main-nav
			ul.main-nav__list
				li.main-nav__item
					a(href='#contacts') Информация
				li.main-nav__item
					a(href='#') новости
				li.main-nav__item
					a(href='#') прайс-лсит
				li.main-nav__item
					a(href='#') магазин
				li.main-nav__item
					a(href='#') контакты
			a.main-nav__entrance(href='#') Вход




