section.modal__map
	h2.visually-hidden Как до нас добраться
	p
		img.visually-hidden(src=require('../../assets/images/map.jpg') width="780" height="560" alt=" офис компании по адресу ул. Большая Конюшная 19/8, Санкт-Петербург")
	button.modal.modal__close(type='button') Закрыть