body
	font-size baseFontSize
	font-family basefont
	font-weight bold
	margin 0
	padding 0
	vertical-align: baseline
	color #f7f4f1
	line-height 24px
	text-transform: uppercase;
	background-image url("../images/background.jpg")
	background-color black
	background-repeat no-repeat
	background-position top center

a
	text-decoration none
h1 h2
  &.visually-hidden
	hidden()
h2
	color #000000
	font-size 30px
	line-height 42px
.button
	font inherit
	vertical-align middle
	color #ffffff
	text-align center
	text-transform uppercase
	background-color #000000
	border none
	display inline-block
	width 140px
	height 43px
	&:hover,
	&:focus,
	&:active
		background-color #663d15
.main-nav
	color #ffffff
	font-size 16px
	line-height 20px
	a
		color #ffffff
		&:hover,
		&:focus,
		&:active
			background-color  #242424
	ul
		list-style none
.offers__list
	list-style none
	h3
		color #f7f4f1
		font-size 30px
		line-height 42px
.news
	&__wrapper
		background-image url("../images/layer-10-copy.jpg")
		background-position center
		background-repeat no-repeat
		background-color #f7f4f1
		color #000000
	&__date
		text-transform none
.gallery__content
	border 7px solid white
.contacts
	&__wrapper
		background-image url("../images/layer-10-copy.jpg")
		background-position center
		background-repeat no-repeat
		background-color #f7f4f1
		color #000000
	&__phone
		text-decoration none
		color: #000000
.appointment__item input
	border 2px solid #000101
	font inherit
	&:focus
		border-color #663d15
.page-footer
	margin-top 65px
	padding 40px 0
	background-image url("../images/layer-23.jpg")
	background-position 0 0
	background-repeat repeat
	background-color #242424
	color #ffffff
.footer
	color white
	&__find
		text-decoration underline
		color #ffffff
		&:hover
			text-decoration none
	&__phone
		text-decoration none
		color #ffffff
	&__social
		text-align center
		ul
			list-style none
		a
			color  #ffffff
	&__copyright
		text-align center
	&__link
		a
		&:hover,
		&:focus
			background-color #ffffff
			color #000000

	&__button
		&:hover,
		&:focus
			color #000000
			background-color  #ffffff
.modal.modal__login
	background-image url("../images/layer-10-copy.jpg")
	background-position 0 0
	background-repeat repeat
	background-color #242424
	color #000000
	h2
		color #000000
		font-size 30px
input#user-login,
#user-password
	font inherit
	color #000000
	text-transform uppercase
	background-color #f9f6f3
	border 2px solid #000000
	&:focus
		border-color #663d15
.forget
	text-decoration underline
	color #000000
	&:hover,
	&:focus
		text-decoration none
.login__checkbox
	&:hover,
	&:focus
		color #663d15
.product
	color #000000
	line-height 24px
	&__page
		background-image url("../images/layer-10-copy.jpg")
		background-position center
		background-repeat no-repeat
		background-color #f7f4f1
		color #000000
	&__title
		font-size 30px
		line-height 42px
	&__article
		color #aeaeae
	&__price b
		background-color #e5e5e5
.breadcrumbs__list
	list-style none
	li:last-child
		color #aba9a7
	a
		color #000000
.product-image__list
	list-style none
.button__price
	font-weight regular
.equipment__list
	list-style none
.page-catalog
	background-image url("../images/layer-10-copy.jpg")
	background-position center
	background-repeat no-repeat
	background-color #f7f4f1
	color #000000
	li
		list-style none
	a
		color #000000
.catalog__item--price
	b
		background-color #e5e5e5
.paginathion__item
	a
		color #ffffff
		background-color #000000
		&:hover,
		&:focus,
		&:active
			background-color #663d15
	&--curent
		a
			background-color #ffffff
			color #000000
.filter fieldset
	border none
.filter	legend
	font-size 24px
	line-height 30px
.filter__input--chekbox + label
	&:hover,
	&:focus
		color #663d15
	&:disabled
		color #000000
.main-header
	margin-bottom 36px
.main-nav__wrapper
	width 100%
	background-color black
	display flex
	justify-content space-between
	padding 29px 0 29px 0
	margin-bottom 60px
.main-nav
	display flex
	flex-direction column
	align-items center
	margin 0
	padding 0
.main-header__logo
	order 2
	width 371
	height 165
.container
	display flex
	justify-content space-between
	width 940px
	margin 0 auto
	padding 0 20px
.main-nav__list
	width 620px
	margin 0
	padding 0
	display flex
.main-nav__entrance
	width 140px
	padding 0 20px 0 0
	margin 0
	display flex
	justify-content flex-end
.main-nav__item
	margin-right 40px
.page
	width 940px
	margin 0 auto
	padding 0 20px
.offers
	margin-bottom 68px
.offers__list
	display flex
	justify-content space-around
	margin 0
	padding 0
	text-align center
.offers__list li
	width 270px
	padding 0
.news__wrapper
	display: flex
	margin 0
	padding 45px 80px 50px 71px
	justify-content space-between
	margin-bottom 36px
	h2
		margin 0
		padding 0
.news__list
	list-style none
	margin 0
	padding 0
.news
	width 349px
	margin 0
	padding 0
.gallery
	margin 0
	padding 0
	h2
		margin-bottom 31px
.gallery__content
	margin 0
	padding 0
	width 286px
	height 164px
	margin-bottom 45px
.news__button
	padding 10px 34px
	width auto
	height auto
.news h2
	margin-bottom 5px
.news__description
	margin-bottom 0
.news ul li:nth-child(2)
	margin-bottom 40px
.news ul li:nth-child(1)
	margin-bottom 30px
.gallery__img
	padding 0
	margin 0
.gallery_container
	display flex
	justify-content space-between
	width 300px
.contacts__wrapper
	display flex
	justify-content space-between
	margin 0
	padding 45px 80px 50px 71px
	h2
		margin 0
		padding 0
.contacts
	width 325px
.appointment
	width 290px
.contacts__time,
.contacts__addresses
	margin-bottom 0
.contacts__button
	padding 10px 34px
	width auto
	height auto
.contacts__container
	display flex
	justify-content space-between
	width 320px
.contacts span:nth-of-type(2)
		margin-bottom 28px
		display inline-block
.contacts__phone
	display inline-block
.footer__addresses
	width 307px
.footer__social
	width 141px
.footer__copyright
	width 140px
	b
		margin-bottom 22px
		display inline-block
.footer__button
	padding 10px 28px
	width auto
	height auto

